develop:
  extends:
    file: base.yml
    service: base
  environment:
    CT_URL: http://mymachine:9000
    LOCAL_URL: http://mymachine:4500
    CT_TOKEN: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6Im1pY3Jvc2VydmljZSIsImNyZWF0ZWRBdCI6IjIwMTYtMDktMTQifQ.IRCIRm1nfIQTfda_Wb6Pg-341zhV8soAgzw7dd5HxxQ
    API_VERSION: v1
    # NEO4J_URI: bolt://mymachine:7687
    NEO4J_USER:
    NEO4J_PASSWORD:
    CT_REGISTER_MODE: auto
  command: develop
  volumes:
    - ./app:/opt/graph-client/app
  links:
    - graph
graph:
  image: neo4j:3.2
  environment:
    NEO4J_AUTH: none
  ports:
    - "7474:7474"
    - "7687:7687"
    - "7473:7473"
  volumes:
    - $HOME/docker/data/graph-client:/data
